form{
    margin: auto;
    text-align: center;
    font-size: 30px;
}
form input{
    font-size: 25px;
}
p{
    font-size: 30px;
    text-align: center;
    color: #c22725; 
}
button a{
    font-size: 20px;
    text-decoration: none;
    background-color: #c22725;
    color: black;
    padding: 20px;
    display: block;
    text-align: center;
}
#sign{
    margin-left: 690px;
}
h1{
    font-size: 50px;
    text-align: center;
    color: #c22725;
}
h3{
    font-size: 30px;
    text-align: center;
    color: #c22725;
}